<% if @user_data_files.present? %>

  <h1>Listing user data files</h1>
  <%= link_to "DOWNLOAD ALL DATA", "AllData.zip", class: "btn btn-primary", style: "color:white" %>
  <table class='table'>

    <thead>
      <tr>
        <th><h3>ID</h3></th>
        <th><h3>Filename</h3></th>
        <th><h3>Notes</h3></th>
        <th><h3>Download</h3></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @user_data_files.each do |user_data_file| %>
        <tr>
          <td><%= user_data_file.id %></td>
          <td><%= user_data_file.filename %></td>
          <td><%= user_data_file.notes %></td>
          <td><%= link_to 'Download', "#{user_data_file.filename}", class: "btn btn-primary", style: "color:white" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>

  <h1> We don't have any data right now. </h1>

<% end %>